/*use reset selector to set margins and paddings to 0*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 98%;
    max-width: 960px;
    /*margin at top and bottom of border of body*/
    margin: 16px auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    /*create a box shadow along the border of the body element*/
    box-shadow: 2px 2px 3px 3px cornflowerblue;

}
html {
    height: 100%;
    /*linear gradient of background color*/
    background-image: -webkit-linear-gradient(to bottom, white 0%,
    beige 100%);
    background-image: -moz-linear-gradient(to bottom, white 0%, beige 100%);
    background-image: -o-linear-gradient(to bottom, white 0%, beige 100%);
    background-image: linear-gradient(to bottom, white 0%, beige 100%);
}
header {
    height: auto;
    //width: 96%;
}
header h1 {
    color: #cb84ab;
    /*create text shadow on the main header*/
    text-shadow: 2px 2px cornflowerblue;
}
header img {

    /*make the image circular in shape*/
    float: left;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 5px 20px;
}
#nav_menu ul {
    clear: both;
    display: flex;
    /*use flex-basis to set width of nav bar to 100%*/
    flex-basis: 100%;
    justify-content: space-between;

}
#nav_menu ul li {

    flex-basis: 25%;
    list-style-type: none;
    text-align: center;
    background-color: cornflowerblue;

}
#nav_menu ul li a {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;

}
#nav_menu ul li a:hover, a:focus {
    font-size: 110%;
    background-color:  #cb84ab;

}
#nav_menu ul li a.current {
    color: yellow;
}
main {
    display: flex;
}
section {

    flex-basis: 68%;
    order: 2;
    margin: 1% 0 0 2.5%;
}
figure {
    //float: left;
}
figcaption {
    display: block;
    font-style: italic;
}
aside ul li {
    /*make links responsive by setting the width to 98%*/
    width: 98%;
}
#first_h2:first-child::first-letter {
    font-size: 150%;
    text-shadow: 2px 2px cornflowerblue;
}
#first_h2 {
    color: #cb84ab;
}
#section_home p {
    margin: 20px 0 20px 0;
}
#food_links ul {

    margin: 6% 3% 3% 3%;
    flex-basis: 30%;
    order: 1;
}
#food_links ul li {

    list-style-type: none;
}
#food_links ul li a {
    display: block;
    text-decoration: none;
    margin: 2%;
    border: 2px solid black;
    background-color: cornflowerblue;
    padding: 5%;
    color: white;
    //font-weight: bold;
}
#food_links ul li a:hover, a:focus {
    font-size: 110%;
    background-color:  #cb84ab;

}
#dish_sect ul {
    margin: 3% 0 6% 0;
}
#dish_sect ul li {
    text-indent: 2em;
}
#dish_sect h2 {
    margin-bottom: 10px;
    color: cornflowerblue;
    text-shadow: 2px 2px black;
}
#dish_sect h3 {

    margin: 3% 0 3% 0;
    color: cornflowerblue;
}
#dish_sect img{

    max-width: 40%;
    min-width: 150px;
}
footer {
    clear: both;
    border-top: 1px solid black;
    background-color: beige;
    /*styles to make bottom border rounded*/
    //margin: auto;
    padding: 16px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
footer p {
    text-align: center;
    font-size: .8em;
}
/*hide the collapsible menu*/
#mobile_menu {
    display: none;
}
/*mobile landscape to tablet portrait*/
@media only screen and (max-width: 767px) {
    header img {
        float: none;
    }

    header {
        text-align: center;
    }

    main {
        flex-direction: column;

    }

    section {
        order: 1;
        width: 95%;
    }

    aside {
        order: 2;
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    #food_links ul li a {
        padding: 2%;
    }

    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: cornflowerblue !important;
    }
}
@media only screen and (max-width: 479px){
    body {
        font-size: 85%;
    }
}